<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @note.name %>
</p>

<p>
  <strong>Content:</strong>
	  <%= raw(@note.cached_content) %>
</p>

<hr>
<a href="<%= note_url(@note) %>" data-confirm="Are you sure?" data-method="delete">Destroy</a>
<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
